/**
 * Styles for the quicktab menu on the front page of Woodring
 *
 * 1.) Turn on quicktabs and quicktabs styles modules
 * 2.) Create quicktab instance
 * 3.) Add menus to QT instance
 * 4.) Quicktabs instance *machine name* MUST be front_page_tabbed_menu_qt
 *
 * Todo: insert gradients and possibly elongate the bars
 *
 */


/**
 * General styles
 */

@media all {

ul.quicktabs-tabs.quicktabs-style-navlist li {
  height: 29px;
  margin-bottom: 1em;
  margin-top: 1em;
}

a#quicktabs-tab-front_page_tabbed_menu_qt-0,
a#quicktabs-tab-front_page_tabbed_menu_qt-1,
a#quicktabs-tab-front_page_tabbed_menu_qt-2 {
    margin-bottom: .6em;
    &:hover { background-color:$wwuLtblue;}
    padding-left: 3em;
    padding-top: 8px;
    text-decoration: none;
    display: block;
    clear: left;
    min-width: 200px;
    text-align: left;
}



#quicktabs-tab-front_page_tabbed_menu_qt-0,
#quicktabs-tab-front_page_tabbed_menu_qt-1,
#quicktabs-tab-front_page_tabbed_menu_qt-2 {
    &:hover {
      color: white;
      }
}

//default triangle for arrow
/*a#quicktabs-tab-front_page_tabbed_menu_qt-0:after,
a#quicktabs-tab-front_page_tabbed_menu_qt-1:after,
a#quicktabs-tab-front_page_tabbed_menu_qt-2:after, {
content: "";
display: block;
position: relative;
right: -13.075em;
top: -2.08em;
border-top: 1.3em solid transparent;
border-left: 0.5em solid 0083D6;
border-bottom: 1.3em solid transparent;
}*/


//location closed
a#quicktabs-tab-front_page_tabbed_menu_qt-0 {
    background: url(../images/icon-location-blue.png) no-repeat 8px 8px;
}

//location opened
li.active a#quicktabs-tab-front_page_tabbed_menu_qt-0 {
background: url(../images/icon-location-white.png) no-repeat 8px 8px;
background-color:$wwuLtblue;
color: white;
}

/*
  Add arrow tip while active
 */

li.active a#quicktabs-tab-front_page_tabbed_menu_qt-0:after,
li.active a#quicktabs-tab-front_page_tabbed_menu_qt-1:after,
li.active a#quicktabs-tab-front_page_tabbed_menu_qt-2:after {
  content: "";
  display: block;
  position: relative;
  right: -13.075em;
  top: -2.08em;
  border-top: 1.3em solid transparent;
  border-left: 0.5em solid #0083D6;
  border-bottom: 1.3em solid transparent;
}

/*
  Add arrow tip while hovering
 */

li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-0:after,
li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-1:after,
li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-2:after, {
  content: "";
  display: block;
  position: relative;
  right: -13.075em;
  top: -2.08em;
  border-top: 1.3em solid transparent;
  border-left: 0.5em solid #0083D6;
  border-bottom: 1.3em solid transparent;
}

//partnerships closed
a#quicktabs-tab-front_page_tabbed_menu_qt-1 {
    background: url(../images/icon-partnerships-blue.png) no-repeat 8px 8px;
}

//partnerships opened
li.active a#quicktabs-tab-front_page_tabbed_menu_qt-1 {
    background: url(../images/icon-partnerships-white.png) no-repeat 8px 8px;
    background-color:$wwuLtblue;
    color: white;
}

//data opened
a#quicktabs-tab-front_page_tabbed_menu_qt-2 {
    background: url(../images/icon-data-blue.png) no-repeat 8px 8px;
}

//data closed
li.active a#quicktabs-tab-front_page_tabbed_menu_qt-2 {
    background: url(../images/icon-data-white.png) no-repeat 8px 8px;
    background-color:$wwuLtblue;
    color: white;
}


//active content box
.quicktabs_main.quicktabs-style-navlist {
  background-color: transparent;
  max-width: 250px;
  margin-left: 10em;
  list-style-type: none;
  list-style-image: none;
  border: none;
  width: 100%;
  z-index: 5; //prevents quicktab links from triggering when menu links are clicked
  a {
   min-width: 100%;
   }
}

//Remove bullet points from content area
body .quicktabs_main.quicktabs-style-navlist ul li {
  list-style-type: none;
  list-style-image: none;
}

ul.quicktabs-tabs.quicktabs-style-navlist li.active {
  background: none;
}

ul.quicktabs-tabs.quicktabs-style-navlist li a {
  height: 100%;
}

ul.menu li.leaf {
  border-bottom: 2px solid #D2D4D5;
}


} // end @media all


/**
 * Responsive styles: sub menu displays below main tabs on widths less than 810 or else gets pushed right
 */

@media all and (max-width: 810px) {

 $box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";

 .quicktab-menu-wrapper {
   $zen-column-count: 12;
   @include zen-grid-item(12,1);
   @include zen-clear(both);
   }

 .quicktabs_main.quicktabs-style-navlist {
  margin-left: 0px;
  clear: both;
  min-width: 250px;
 }

  //Do not display arrow when in mobile view (causes sideways scrolling)
  li.active a#quicktabs-tab-front_page_tabbed_menu_qt-0:after,
  li.active a#quicktabs-tab-front_page_tabbed_menu_qt-1:after,
  li.active a#quicktabs-tab-front_page_tabbed_menu_qt-2:after,
  li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-0:after,
  li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-1:after,
  li:hover a#quicktabs-tab-front_page_tabbed_menu_qt-2:after, {
    content: none;
    display: default;
    position: static;
    border: 0;
  }

}
