/**
 * @file
 * Customization for WCE
 *
 */

@import "base";
@import "compass";
@import "zen";
@import "quicktab";
$box-sizing-polyfill-path: "/sites/all/themes/wwuzen/js/boxsizing.htc";
@import url(https://fonts.googleapis.com/css?family=Muli:400,400italic);
$muli: Muli, Tahoma, Verdana, "DejaVu Sans", sans-serif;
$wwuBlue: #003f87;
$wwuLtblue: #0083d6;


/*
 * Containers for grid items and flow items.
*/

@mixin hide-text-bg-img {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}

/**
* Override the default flexslider presentation.
*/

.flex-direction-nav a.flex-next:before,
.flex-direction-nav a.flex-prev:before {
  font-size: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 34px;
  width: 34px;
  background-color: #868686;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
}
 .flex-direction-nav a {
    &:hover {text-decoration: none; }
    &:focus {text-decoration: none; }
  }

 .flexslider {margin: 0px 0px 0px;}


// @include hide-text-bg-img;

/* ****************************************************
    Containers for grid items and flow items
**************************************************** */

  #main { @include zen-grid-container(); }

/* ****************************************************
               Layout -> 800px
**************************************************** */

// WCE Motto
#block-block-2 p {
  font-size: 0.75em;
  line-height: 1.5em;
  margin-top:-1.5em;
  text-transform: none;
}

// WCE Logo Image in the Footer
#block-block-5 { margin-left: -0.5em; }

#wceSlogan {
  background-color:$wwuBlue;
  color:#fff;
  padding:1.5em;
  height:6.375em;
  font-style: italic;
}



.topRight { margin-left:0em; width:31.3%;}

.middleRight { margin-right:0em; }

.pane-scholarships-panel-pane-1 .field-content {
  left: 30px;
  position: relative;
}

/* ****************************************************
        				 News & Events Panels
**************************************************** */

.panels-flexible-home_page .panels-flexible-row {
  .panels-flexible-row-home_page-2-inside {
    font-family:$muli;
    h2 {
      padding-bottom:.25em;
      border-bottom:solid 3px #d2d4d5;
    }
    .more-link {
      margin-top:.75em;
      a {
        padding:.25em .75em;
        background:#fff;
        border:solid 1px #ddd;
        border-radius:3px;
        box-shadow:0 0 2px #ddd;
      }
    }
    .panels-flexible-region-inside-first {
    	margin-right: 2em;
    	li { margin-left:.5em; }
    }
    .panels-flexible-region-inside-last .views-row > div:last-child { margin-bottom:.5em; }
  }
}

/* ****************************************************
            Homepage Views Slideshow
**************************************************** */

.flexslider {
  border:none;
}

ol.flex-control-nav {
  display:none;
}

.panels-flexible-region-home_page-center {
  position: relative;
  width:36.8%;
}


#views_slideshow_controls_text_previous_slideshows-panel_pane_1, #views_slideshow_controls_text_next_slideshows-panel_pane_1 {
  width:30px;
  height:150px;
  position:absolute;
  top:0px;
  overflow:hidden;
  z-index:200;
  a {
    display: none;
  }
}
#views_slideshow_controls_text_previous_slideshows-panel_pane_1 {
  background:url('../images/previousArrow.png');
  left:0em;
}
#views_slideshow_controls_text_next_slideshows-panel_pane_1 {
  background:url('../images/nextArrow.png');
  right:0em;
}
#views_slideshow_controls_text_pause_slideshows-panel_pane_1 {
  display:none;
}

/* ****************************************************
            Alumni News and Notes View
**************************************************** */

.view-grouping-content .view-grouping-header {
  display: none;
}

.view-grouping .view-grouping {
  padding-left: 15px;
}

.views-field.views-field-body {
  padding-left: 20px;
}

.view-grouping-header {
  margin-bottom: 15px;
  border-bottom: thin #CC2D30 solid;
}

/* ****************************************************
                Layout -> 460px
**************************************************** */

@media all and (max-width:460px) {
  $zen-column-count: 1;

  .panels-flexible-region-home_page-top_left, .panels-flexible-region-home_page-center, .panels-flexible-region-home_page-top_right, .panels-flexible-region-home_page-bottom_left, .panels-flexible-region-home_page-bottom_right, .panels-flexible-region-home_page-bottom, .panels-flexible-region-home_page-middle_left, .panels-flexible-region-home_page-middle, .panels-flexible-region-home_page-middle_left {
      @include zen-grid-item(1, 1, none);
      margin-bottom:.3em;
     }

  .panels-flexible-home_page .panels-flexible-row {
    margin-bottom:-0.6em;
  }

  //We need to move the Apply Now image up near the slideshow
  .panels-flexible-region.panels-flexible-region-home_page-top_right.panels-flexible-region-last.topRight {
    margin-top:-3.4em;
  }

  .topRow {
    height:100%;
  }

}

// For the 360px layout to work adequately...
  .hidden {display: none;}

/* ****************************************************
     Layout 461px <--> 960px
**************************************************** */

@media all and (min-width:461px) and (max-width:960px) {
$zen-column-count: 3;

  //Slogan
  .panels-flexible-region-home_page-top_left {
    @include zen-grid-item(3,1);
    margin-bottom:.3em;

    #wceSlogan {
      height:50%;
    }
  }
  //Slideshow
  .panels-flexible-region-home_page-center {
    @include zen-grid-item(2,1);
    @include zen-clear(left);
    margin-bottom:.3em;
        //height:7em;
  }
  //Apply Now
  .panels-flexible-region-home_page-top_right {
    @include zen-grid-item(1,3);
    margin-bottom:.3em;
  }
  //Campaign block
  .middleRight {
    @include zen-grid-item(1.3,1, none);
    @include zen-clear(right);
  }
}

/* ****************************************************
            Layout greater than 800px
**************************************************** */

@media all and (min-width:801px) {

.site-name {
  background:url("../images/woodring-logo.png") no-repeat center center;
  @include background-size(auto);
  p { @include hide-text-bg-img; font-size:inherit; height:2.2em;}/*font-size has to be inherit or else anchor has no height/width. Is there another solution so that the text isn't visible on selection?*/
}

//In IE8 opacity/transparency fails in an epic fashion with the image replacement
//I chose to disable the link here and add faux padding for IE8 users.
.lt-ie9 .site-name {
  padding:2em 3.4em .75em .75em;
  a {
      display:none;
    }
  }

}

/**
 * Fix for link styling inside views_accordion region - needs to be very specific to overcome some of the
 * styling for the Accordion Menu in navigation.css.
 *
 * This CSS selector has a specificity of 8 - make sure if you are trying to override that you go above 8.
 * If you need to analyze a CSS tag for specificity, please check out http://specificity.keegan.st/ to calculate
 * the specificity of the selectors in question.
 */

html body .page .panel-pane .view .view-content .field-body a {
  color:$wwuBlue;
  display:inline;
  padding-left: 0;
}

/*Custom img button styles */
.applyNow{
        &:hover{
		background-image: url("../images/ApplyNow-Hover.png");
		}
}

/**
* Fix for the calendar view
**/

.calendar-calendar {

  .month-view {
    .full {
      tr {
        th.days, td.date-box {
          color: $wwu-black;

          a {
            color: mix($ashlar-link-color, $wwuBlue, 50%);
          }
        }
        td.empty {
          color: transparentize($wwu-black, .4);
        }

        td {
          a {
            color: $ashlar-link-color;
            text-decoration: underline;

            &:hover, &:focus, &:active {
              text-decoration: none;
              color: $wwuBlue;
            }
          }

          span {
            &.date-display-single {
              color: $wwu-black;
            }
          }
        }
      }
    }
  }

  .month-view, .week-view, .day-view {
    .full {
      th, td {
        color: $wwu-black;
      }
      
      td.single-day {
        div {
          &.monthview, &.weekview, &.dayview {
            background-color: $wwuLightestBlue;
          }
        }
      }

      td.single-day, td.multi-day {
        .inner {
          div.view-item {
            a {
              &:hover, &:focus, &:active {
                @include link-hover-background();
              }
            }
          }
        }
      }

      td.inner {
        div {
          &.calendar, &.monthview, &.weekview, &.calendar.monthview {
            div {
              a {
                &:hover, &:focus, &:active {
                  @include link-hover-background();
                }
              }
            }
          }
        }
      }
    }
  }
}
